<div class="topo">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">House motors</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nossa história</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastro</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Motos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Motos</a></li>
            <li><a class="dropdown-item" href="#">Peças</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
    </div>
  </div>
</nav>

 <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www3.yamaha-motor.com.br/file/v7351641115402719772/products/30023.faixa2.detalhe.desktop.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h5>MT-09 ABS</h5>
        <p>Com apenas 193 kg, 115 cv e 8,92 kgf.m de torque, a MT-09 surpreende em todos os detalhes. Seu motor crossplane tricilíndrico de 847 cc proporciona acelerações e retomadas rápidas de uma autêntica Master of Torque (MT).</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www3.yamaha-motor.com.br/file/v275258587911754796/products/30021.faixa2.detalhe.desktop.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h5>MT-03</h5>
        <p>A performance esportiva que você sempre buscou. Com 321 cc, desenvolve 42 cv e 3,0 kgf.m de torque. Conta com a exclusiva tecnologia DiASil que contribui para menor vibração, melhor dissipação de calor e ganho de performance.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img id="fz" src="https://www3.yamaha-motor.com.br/file/v5299437419985741958/products/30022.faixa2.detalhe.desktop.jpg">
      <div class="carousel-caption d-none d-md-block">
        <h5>MT-07 ABS</h5>
        <p>Com apenas 183 kg, 6,9 kgf.m e 74,8 cv, a MT-07 é ágil, potente e com o torque brutal do DNA Master of Torque. Agilidade e performance de uma autêntica street fighter.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <img src="https://www.honda.com.br/motos/sites/hda/files/2021-08/Banner_Honda_Adv.webp" class="img-fluid" alt="...">
      <div class="text">
        <h1>
          Nossa história
        </h1>
      </div>
    </div>

    </div>
    <div class="col-12">
      <img src="https://www.honda.com.br/motos/sites/hda/files/2021-08/SERVBANNERS_CS2W_1920x768px.webp" class="img-fluid" alt="...">
      <div class="text">
        <h1>
          Serviços online
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="bottom"><h6>HOUSE MOTORS</h6></div>