.topo{
    background: rgba( 36, 36, 172, 0.7 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    ;
}
.row{
    margin-top: 30px;
}

.carousel-item{
    margin-top: 30px;
    max-height: 90%;
}


.bottom{
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 50px;
    background-color: rgb(137, 134, 155);
    margin-top: 30px;
    text-align: center;
    color: rgba(183, 0, 255, 0.397);
    position: sticky;
}

.btm{
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 200px;
    background-color: rgb(85, 85, 85);
    text-align: center;
    color: rgb(255, 255, 255);
}
h5{
    color: red;
}
p{
    color: white;
}
.text{
    text-align: center;
    margin-top: 20px;
}
#navbarSupportedContent{
    color: aqua;
}
.col{
    margin: 100px;
}

.fz{
    height: 300px;
    width: 300px;
}
.container{
    text-align: center;
}